//-------------------------------------//
//----------- @ MEDIA -----------------//
//-------------------------------------//


@media screen and (min-width: 550px) {

	#app {
		background: var(--app-background-color) !important;
		border: 8px solid var(--app-border-color) !important;
		border-radius: 8px !important;
		box-shadow: 2px 2px 8px var(--app-shadow-color) !important;
		margin: 5px !important;
	}
}