:root {
    --city-name-background-color: rgba(13, 159, 234, 0.078);
    --city-name-text-color: #0DA0EA;

    --body-background-color: #c3c3c3;

    --app-border-color: #eaeaea;
    --app-background-color: #fff;
    --app-shadow-color: #808080;
    --app-text-primary-color: #999999;
}