// ==========> GLOBALS STYLE <================
@forward 'colors';
@forward 'fonts';
@forward 'sizes';
@forward 'resetStyle';
@forward '@media';

@mixin displayFlex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}


body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Barlow, sans-serif;
  min-height: 100vh;
  background: var(--body-background-color);
}

#app {
  position: relative;
  width: 100%;
  max-width: var(--app-max-width);
  height: 812px;
  background: var(--app-background-color);
  border: none;
  border-radius: 0px;
  box-shadow: none;
  margin: 0px;
}